<twig:DefaultLayout>
    <section class="h-full grid place-items-center">
        <form class="flex items-center gap-5" action="/resultForAddress" method="get">
            <twig:UI:Input autofocus placeholder="Address" name="address"/>

            <twig:UI:Cta type="submit">Continue</twig:UI:Cta>
        </form>
    </section>
</twig:DefaultLayout>